@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;400;600&display=swap');


* {
    /* box-sizing: border-box; */
}

body{
    margin: 0;  
    background-image: url(Images/KSA02596-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Parisienne', cursive;
    color: rgb(126, 77, 42);

}

.nav{
    background: rgba(255, 255, 255, .70);
    margin: 10px;
    border-radius: 15px;
}

.nav a {
    color: rgb(90, 54, 12);
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;


}

.list {
    list-style: none;
    display: none;
} 

.menu{
    display: flex;
    margin: auto;
    width: 25px;

}


.nav a:hover{
    color: rgb(63, 34, 0);
    text-decoration: underline 2px;
    text-decoration-skip-ink: none;
}


.fullscreen{
    color: black;
}

.container{

    background: rgba(255, 255, 255, .50);
    border-radius: 15px;
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    

    
}

.timer{
    display: flex;
    justify-content: center;
    margin-left: .5rem;
    margin-right: .5rem;

}



.time{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
}

.time-title{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
}

.time-container{
    background: rgba(255, 255, 255, .75);
    border-radius: 15px;
    margin: 5px;
    margin-top: .2rem;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1em;
    color: rgb(77, 52, 29);

}

.countdown-timer{
    width: fit-content;

    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
