@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;  
    background-image: url(Images/KSA02596-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
}

h1 a{
    display: flex;
    justify-content: center;
    font-family: 'Parisienne', cursive;
    color: rgb(90, 54, 12);
    text-decoration: none;
    margin: auto;
    text-align: center;

}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Parisienne', cursive;
    color: rgb(90, 54, 12);
    text-decoration: none;
    margin: .2rem;

}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Sofia', cursive;
    color: rgb(90, 54, 12);
    text-decoration: none;
    margin: .3rem;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Sofia', cursive;
    color: rgb(90, 54, 12);
    text-decoration: none;
    margin: .3rem;
}

p {
    
    font-family: 'Sofia', cursive;
    color: rgb(46, 25, 1);
    margin: .5rem;
    margin-bottom: 0;
    font-size: 1em;
    padding-bottom: .2rem;
}

label {
    
    font-family: 'Sofia', cursive;
    font-size: 1.2em;
    color: rgb(46, 25, 1);
    margin: .5rem;
}

li {
    font-size: 1.2em;
}

.split {
    display: flex;
    flex-direction: row;
}

.child {
    list-style: none;
    margin: 1rem;
    padding: 0;
    font-family: 'Sofia', cursive;
    color: rgb(46, 25, 1);
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;

    
}
.full-child {
    margin: auto;
    padding: .5rem;
    font-family: 'Sofia', cursive;
    color: rgb(46, 25, 1);
    text-align: center;
}


input[type="submit" i] {
    margin-top: .5rem;
    height: 2.5rem;
    background-color: rgb(180, 123, 57);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Sofia', cursive;
    opacity: 90%;

}

nav{
    background: rgba(255, 255, 255, .75);
    margin: 1rem;
    border-radius: 15px;
}

nav a {
    color: rgb(90, 54, 12);
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;


}

.list {
    list-style: none;
    display: none;
} 

.menu{
    display: flex;
    margin: auto;
    width: 25px;

}


.nav a:hover{
    color: rgb(63, 34, 0);
    text-decoration: underline 2px;
    text-decoration-skip-ink: none;
}


.fullscreen{
    color: black;
}

.container{

    background: rgba(255, 255, 255, .75);
    border-radius: 15px;
    margin: 1rem;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.timer{
    display: flex;
    justify-content: center;
    margin-left: .5rem;
    margin-right: .5rem;

}



.time{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
}

.time-title{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
}

.time-container{
    background: rgba(255, 255, 255, .75);
    border-radius: 15px;
    margin: 5px;
    margin-top: .2rem;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 1em;
    color: rgb(77, 52, 29);

}

.countdown-timer{
    width: fit-content;

    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.names{
    margin: auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.song-form input{
    text-align: center;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Sofia', cursive;
    opacity: 80%;

}
button{
    margin-top: .5rem;
    height: 2.5rem;
    background-color: rgb(180, 123, 57);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Sofia', cursive;
    opacity: 90%;
}
button:hover{
    background-color: rgb(140, 77, 6);
}

.desktop-navbar{
    display: none;
}


@media screen and (min-width: 480px) {
    .container{
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .guest-list{
        
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        max-height: 90rem;
    }

    p{
        margin: 2rem;
        font-size: large;
    }
    .drinks{
        margin: 1rem;
    }

    .song-form{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .mobile-nav{
        display: none;
    }
    .desktop-navbar{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .desktop-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
    } 
    .desktop-list ul{
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    .desktop-list li{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .desktop-list a{
        margin: 0;
        padding: 0;
    }

    a:hover{
        color: rgb(180, 102, 12);
    }

    .time-container{
        font-size: 1.5em;
    }

}
